POSTGRES_USER=pricedrop
POSTGRES_PASSWORD=pricedrop
POSTGRES_DB=pricedrop
RABBITMQ_USER=guest
RABBITMQ_PASS=guest
ITAD_API_KEY=
ITAD_BASE_URL=https://api.isthereanydeal.com
ITAD_TIMEOUT_SECONDS=20
SCRAPE_INTERVAL=6h
CRAWL_INTERVAL=24h
